* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  height: 95vh;
  margin: auto;
}

header {
  background-color: orange;
  text-align: center;
  border: 1px solid black;
  margin: 8px;
}

aside {
  background-color: green;
  border: 1px solid black;
  margin-left: 8px;
  float: left;
  width: 30%;
  height: 80%;
}

main {
  background-color: purple;
  border: 1px solid black;
  margin-right: 8px;
  float: right;
  width: 66%;
  height: 80%;
}

footer {
  background-color: blue;
  text-align: center;
  border: 1px solid black;
  margin: 8px;
}

aside p {
  margin: 8px;
}

main p {
  margin: 8px;
  text-align: right;
}

.clr {
  clear: both;
}
