:root {
  --text-color: rgb(88, 88, 88);
}

.card {
  border: 1px solid rgb(158, 158, 158);
  text-align: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 20px 1px rgb(151, 151, 151);
  float: left;
  margin: 30px;
}

.cards-container {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(101, 224, 255),
    rgb(160, 160, 160)
  );
  font-family: "Red Hat Mono", monospace;
  color: var(--text-color);
}

img {
  margin-top: 50px;
  max-width: 400px;
  border-radius: 15px 15px;
  box-shadow: 0 0 8px 8px 0 white inset;
}

span {
  font-weight: bold;
}

li {
  color: black;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

ul {
  padding: 0;
}

.logo {
  margin-top: 12px;
  width: 70px;
  height: auto;
}

.clr {
  clear: both;
}

.header-text {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.navbar {
  max-width: 250px;
  margin-left: auto;
}

.navbar .nav-button {
  border: 1px solid rgb(99, 99, 99);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 5px;
}

.navbar .nav-button:hover {
  border: 1px solid rgb(255, 255, 255);
}

.profile-picture {
  width: 400px;
  margin: auto;
}

footer {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

#main-body {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#main-body p {
  width: fit-content;
  margin: auto;
}
