.card {
  border: 1px solid rgb(158, 158, 158);
  text-align: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 20px 1px rgb(151, 151, 151);
  float: left;
  margin: 30px;
}

.whole-page {
  width: 40%;
  text-align: center;
  margin: auto;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(101, 224, 255),
    rgb(160, 160, 160)
  );
  font-family: "Red Hat Mono", monospace;
  color: rgb(88, 88, 88);
}

img {
  width: 70%;
  border-radius: 15px 15px;
  box-shadow: 0 0 8px 8px 0 white inset;
}

span {
  font-weight: bold;
}

li {
  color: black;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

ul {
  padding: 0;
}

.logo {
  margin-top: 12px;
  width: 70px;
  height: auto;
}

.clr {
  clear: both;
}
